<configuration>
    <!-- In-memory appender for tests -->
    <appender name="MEM" class="ch.qos.logback.core.read.ListAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MEM" />
    </root>
</configuration>