<configuration>

    <!-- Register the converter -->
    <conversionRule conversionWord="purifyMsg"
                    converterClass="io.puriflow4j.logs.PurifyMessageConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %purifyMsg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
